@import'./settings';
@import'./base';
@import'./header';
@import'./container';
@import'./bigb';
@import'./w';

body{
    font-size: 62.5%;
}
button
{
    cursor: pointer;
}
button:disabled
{
    cursor: default;
}